.navbar{
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  padding-right: 3rem!important;
    padding-left: 3rem!important;
}

.navbar a{
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  padding-right: 3rem!important;
    padding-left: 3rem!important;
}

@media (max-width: 768px) {
  .hero img {
    max-width: 100%;
    height: auto;
  }
  
  .textAlign {
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .center {
    display:none;
  }
  
  .textAlign {
    display:none;
  }
}

.hero img {
  width: 100%;
}

.hero{
  margin-top: -15px;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.head{
  text-align: center;
}
img {
  display: flex;
}
img, svg {
  vertical-align: middle;
}

.navbar-brand{
  margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent!important;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between!important;
}

.navbar .navbar-rating a img{
 margin-left: 200px;
}

.center {
  height: 200px;
  width: 200px;
  background-color: #ff4800;
  border-radius: 50%;
  position: absolute;
  top: 32%;
  left: 26%;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.centerArrow{
  margin-left: 63px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
}



p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.book-img {
  width: 100%;
}

.text-center {
  text-align: center!important;
}
.mt-md-n5 {
  margin-top: -3rem!important;
}

.d-flex {
  display: flex!important;
}

.fw-stronger {
  font-weight: 900!important;
}

.h5, h5 {
  font-size: 1.15rem!important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)*-1);
  margin-right: calc(var(--bs-gutter-x)*-0.5);
  margin-left: calc(var(--bs-gutter-x)*-0.5);
}

.l-height {
  line-height: 1.9!important;
}

.text-start {
  text-align: left!important;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ol {
  list-style-type: decimal;
}

.row-cols-md-2>* {
  flex: 0 0 auto;
  width: 50%;
}

.fw-bold {
  font-weight: 700!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.h1, h1 {
  font-size: 2.5rem;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.s-btn {
  padding: 1rem!important;
  width: 100%;
  background-color: #ff5a00!important;
  border: 0!important;
  border-radius: 15px!important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.card {
  margin: 50px 0;
  border-radius: 10px!important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body {
  background-color: #50a89e!important;
  color: white !important;
  padding: 50px!important;
  border-radius: 7px;
  text-align: center ;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

div {
  display: block;
}

.h3, h3 {
  font-size: 1.75rem!important;
}

form {
  display: block;
  margin-top: 0em;
}

.d-block {
  display: block!important;
}
label {
  padding: 7px 0;
}

.form-control {
  padding: 0.75rem 0.75rem!important;
}
.custom-select {
  -webkit-appearance: revert!important;
  -moz-appearance: revert!important;
  appearance: revert!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select {
  word-wrap: normal;
}

.container-xl, .container-xxl {
  max-width: 1320px;
}

.bg-color {
  background-color: #b9e6ff!important;
}

.py-md-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.px-xl-5 {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}
.mx-lg-2 {
  margin-right: 0.5rem!important;
  margin-left: 0.5rem!important;
}

.row-cols-md-2>* {
  flex: 0 0 auto;
  width: 50%;
}

.rounded {
  border-radius: 0.25rem!important;
}

.w-100 {
  width: 100%!important;
}

.bg-secondary {
  background-color: #133c46!important;
}

a[data-v-5a3363f2] {
  color: #fff;
  text-decoration: none;
}


.px-md-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}